.calculadora {
    background: rgb(187, 133, 238);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
.calculadora input {
    background: rgb(236, 148, 200);
    color: coral;
    padding: 5px;
    border-radius: 5px;

}

